<div class="oj-applayout-fixed-top">
    <!--
     ** Oracle JET V10.0.0 hybrid mobile application header pattern.
     ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
     ** more information on how to use this pattern.
  -->
    <header role="banner" class="oj-hybrid-applayout-header">
        <oj-module style="width: 100%;" config="[[subHeaderConfig]]"></oj-module>
    </header>
</div>
<div class="bodyConten" style="margin-top: 120px;">
    <div class="oj-sm-6 oj-md-6 oj-lg-6 oj-flex-item oj-sm-padding-2x-horizontal">
        <oj-label class="oj-typography-bold" for="segment">Trade segment</oj-label>
        <oj-select-single id="segment"  label-hint="select item" required data="[[segmentSource]]" value="{{selectedSegment}}">
        </oj-select-single>
    </div>

    <div class="oj-sm-margin-5x-top oj-sm-11 oj-md-11 oj-lg-11 oj-flex-item oj-sm-padding-2x-horizontal">
        <oj-label class="oj-typography-bold" for="pSegment">Primary consumer segment</oj-label>
        <oj-select-single id="pSegment" label-hint="select item" required data="[[pSegmentSource]]" value="{{selectedpSegment}}">
        </oj-select-single>
    </div>

    <div class="oj-sm-margin-5x-top oj-sm-11 oj-md-11 oj-lg-11 oj-flex-item oj-sm-padding-2x-horizontal">
        <oj-label class="oj-typography-bold" for="sSegment">Secondary consumer segment</oj-label>
        <oj-select-single id="sSegment" label-hint="select item" required data="[[sSegmentSource]]" value="{{selectedsSegment}}">
        </oj-select-single>
    </div>

    
    <footer role="contentinfo " class="oj-web-applayout-footer oj-applayout-fixed-bottom">
        <div class="oj-web-applayout-max-width">
            <div class="oj-flex oj-sm-margin-5x-top oj-sm-12 oj-sm-flex-items-initial oj-sm-justify-content-space-around">

                <div class="oj-flex-item ">     
                    <oj-button chroming='outlined' on-oj-action="[[goBack]]">
                        Cancel
                    </oj-button >
                </div>
                <div class="oj-flex-item oj-sm-padding-5x-end">
                    <oj-button on-oj-action="[[saveAccount]]" chroming='outlined' class="ojet-btn-color oj-color-invert">
                        Save
                    </oj-button>
                </div>
            
            </div>
            </div>
            </footer>

</div>    