<div class="oj-applayout-fixed-top">
    <!--
     ** Oracle JET V10.0.0 hybrid mobile application header pattern.
     ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
     ** more information on how to use this pattern.
  -->
    <header role="banner" class="oj-hybrid-applayout-header">
        <oj-module style="width: 100%;" config="[[subHeaderConfig]]"></oj-module>
    </header>
    <span class="oj-typography-title-4">Basic Information</span>
    <div class="oj-flex oj-flex-item">
        <div class="oj-sm-margin-5x-top oj-sm-11 oj-md-6 oj-lg-6 oj-flex-item oj-sm-padding-2x-horizontal">
            <oj-label class="oj-typography-bold" for="accountName">Name</oj-label>
            <oj-input-text  required validators='[[nameValidator]]' length.max="5"
            value="{{accountName}}" id="accountName" placeholder="Account name" oj-label-edge="inside"></oj-input-text>
        </div>
        <div class="oj-sm-11 oj-md-6 oj-lg-6 oj-flex-item oj-sm-padding-2x-horizontal">
            <oj-label class="oj-typography-bold" for="channel">Channel</oj-label>
            <oj-select-single id="channel" required label-hint="select channel" data="[[channelListSource]]" value="{{selectedChannel}}">
            </oj-select-single>
        </div>

        <div class="oj-sm-11 oj-md-6 oj-lg-6 oj-flex-item oj-sm-padding-2x-horizontal">
            <oj-label class="oj-typography-bold" for="type">Type</oj-label>
            <oj-select-single id="type"label-hint="select type" required data="[[typeListSource]]" value="{{selectedType}}">
            </oj-select-single>
        </div>
        <span class="oj-typography-body-xl oj-sm-margin-4x-vertical">Class</span>
        <div class="oj-sm-11 oj-md-11 oj-lg-11 oj-flex-item oj-sm-padding-2x-horizontal">
            <oj-radioset style="width: 100%;" id="radiosetBasicDemoId" label-hint="" label-edge="provided" value="{{currentClass}}">
               
                <oj-bind-for-each data="[[classOptions]]">
                  <template>
                    <div class="oj-divider-top oj-sm-margin-1x-vertical"></div>
                    <oj-option  value="[[$current.data.value]]">
                      <oj-bind-text value="[[$current.data.value]]"></oj-bind-text>
                    </oj-option>
                   
                  </template>
                </oj-bind-for-each>
                <div class=" oj-divider-bottom oj-sm-margin-1x-vertical"></div>
              </oj-radioset>
        </div>
    </div>
    
    
    <footer role="contentinfo " class="oj-web-applayout-footer oj-applayout-fixed-bottom">
        <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-around">

            <div class="oj-flex-item ">     
                <oj-button chroming='outlined' on-oj-action="[[goBack]]">
                    Cancel
                </oj-button >
            </div>
            <div class="oj-flex-item ojet-btn-color oj-color-invert" chroming='outlined'>
                <oj-button on-oj-action="[[gotoStep2]]">
                    Next
                </oj-button>
            </div>
    
        </div>
            </footer>

</div>